<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<title>速習Vue.js</title>
	</head>
	<body>
		<!--ページ本体-->
		<div id="app">
			<form>
				<label for="show">表示/非表示</label>
				<input type="checkbox" id="show" v-model="toggle" />
			</form>
			<div id="panel" v-if="toggle">
				<h3>式の審議に応じて表示/非表示を切り替える - v-if</h3>
				<div>
					v-ifは、JavaScriptのif命令に相当するディレクティブです。<br />
					指定された条件式がtrueの場合にだけ、現在の要素を出力します。
				</div>
			</div>
			<div v-else>現在、非表示状態です。</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
		<script type="text/javascript" src="./if.js"></script>
	</body>
</html>
